#content{
    resize: both;
    display: grid;
    gap: 8px;
    overflow: auto;
    padding: 4px;
    background-color: gainsboro;
    width: fit-content;
    height: fit-content;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card{
    text-align: center;
    font-size: 1.5rem;
    padding: 12px;
    background-color: aliceblue;
    border: 1px solid black;
}